body {
    background-color: #f4dada;
    font-family: 'Roboto' ;
}

h1{
    color: #ff80b0;
}

h2{
    font-size: 40px;
    color:  #be8abf;
}

h3{
    color: #faafff;
}

 i {

}
